<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>My Diet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>News</ion-card-subtitle>
      <ion-card-title>Vegan Diet</ion-card-title>
    </ion-card-header>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../assets/download (1).jpg" alt="">
        </div>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Diet</ion-card-subtitle>
      <ion-card-title>KIETO Diet</ion-card-title>
    </ion-card-header>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../assets/download (2).jpg"alt="">
        </div>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Diet</ion-card-subtitle>
      <ion-card-title>Chemical Diet</ion-card-title>
    </ion-card-header>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../assets/download (3).jpg" alt="">
        </div>
      </div>
    </div>
  </ion-card>
  
</ion-content>
