<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-item>
    <ion-icon name=search slot="start"></ion-icon>
    <ion-label>search</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  


  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>News</ion-card-subtitle>
    <ion-card-title>Corona Virus</ion-card-title>
  </ion-card-header>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../assets/Corona_red_830x300.jpg" alt="">
      </div>
    </div>
  </div>
</ion-card>



<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="earth-outline" slot="start"></ion-icon>
    <ion-label>Coronavirus tracker</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Infected Areas</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="business-outline" slot="start"></ion-icon>
    <ion-label>Near hospitals</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>Hot lines</ion-label>
  </ion-item>
</ion-card>