<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
   
    <ion-title> common questions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>What is a coronavirus?</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>What is a novel coronavirus?</ion-label>
  </ion-item>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>What can I do to protect myself?
    </ion-label>
  </ion-item><ion-item href="#" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>Can humans become infected with a novel coronavirus of animal source?</ion-label>
  </ion-item><ion-item href="#" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>Can humans become infected with a novel coronavirus of animal source?</ion-label>
  </ion-item><ion-item href="#" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>Can coronaviruses be transmitted from person to person?</ion-label>
  </ion-item><ion-item href="#" class="ion-activated">
    <ion-icon name="help-outline" slot="start"></ion-icon>
    <ion-label>Is there a vaccine for a novel coronavirus?</ion-label>
  </ion-item>
  
</ion-card>
</ion-content>
