<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
   
    <ion-title>Vital signals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>vitals</ion-card-subtitle>
      <ion-card-title>Pulse rate</ion-card-title>
    </ion-card-header>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../assets/b3705cc2edf8f527789e6e2be29f6267.gif" alt="">
        </div>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>vitals</ion-card-subtitle>
      <ion-card-title>Oxgyen rate</ion-card-title>
    </ion-card-header>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../assets/98percent.png" alt="">
        </div>
      </div>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vitals</ion-card-subtitle>
      <ion-card-title>Tempreture</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-card-title>36%</ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
